@model IEnumerable<BebidaAppl.Models.Category>


@{
    ViewData["Title"] = "Home";
}

<section class="default">
    <div class="titulo"> Seja bem-vindo!</div>
        <div class="section">
            <div class="d-flex justify-content-center">
                <div class="about-left">
                   Essa é a nossa loja online, onde você pode pedir o que deseja que entregaremos mais rápido e 
                    com a maior qualidade possivel!
                </div>
                <div class="about-right">
                    <img src="https://media.istockphoto.com/id/185265868/pt/foto/sumo-de-frio-isolado-no-branco.jpg?s=612x612&w=0&k=20&c=0WwoRclvgcmlykYrUr0QHi5K7weF7eBMDrcKgUOG0XY="/>
                </div>
            </div>
        
    </div>
</section>


<hr/>

<section class="default">
    <div class="titulo"> Sobre nós</div>
        <div class="section">
            <div class="d-flex justify-content-center">
                <div class="about-left">
                   Somos a ToComSede, uma distribuidora de bebida residente na zona Norte do Rio de Janeiro. Trabalhamos todos os
                   dias para que nossos clientes fiquem satisfeito com a nossa qualidade e dedicação. Entregamos em toda a região
                   Norte do Rio.
                </div>
                <div class="about-right">
                    <img src="https://media.istockphoto.com/id/1266646068/pt/foto/mojito-cocktail.jpg?s=612x612&w=0&k=20&c=cM_Qc70Mf7xlWSp9ibJXZroRXZfmRCWHVEvOOuRR_3c="/>
                </div>
            </div>
        
    </div>
</section>

<hr />



<footer class=" footer text-muted">
        <div>
           Esse Site foi feito por Yan Augusto Almeida Ferreira
        </div>
    </footer>